.containerStyle {
  position: relative;
  width: 530px;
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.containerStyleModal {
  position: relative;
  width: 1108px;
  height: 1108px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalItem {
  width: 760px;
  height: 760px;
}

.zoom {
  display: flex;
  justify-content: flex-end;
}

.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowStyle {
  z-index: 1;
  font-size: 2em;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
  border: none;
  outline: none;
  height: 614px;
  width: 72px;
}

.arrowStyleModal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  font-size: 2em;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
  border: none;
  outline: none;
  height: 614px;
  width: 72px;
}